<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if site.theme-dark %} dark {% else %} light {% endif %} ">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
	<section tabindex="-1" style="text-align: start;color: transparent;font-size: 10px;border: 0px;">
    <div style="border: 0px;">
        <div style="border: 0px;">
            <section style="color: transparent;border: 0px;">
                <div style="border: 0px;">
                    <div style="color: transparent;border: 0px;">
                        <div style="border: 0px;">
                            <div style="border: 0px;">
                                <div style="text-align: start;border: 0px;">
                                    <h2 style="color: rgb(var(--color_45));font-size: 26px;border: 0px;">Education</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="color: transparent;border: 0px;">
                        <div style="border: 0px;">
                            <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
                            <div style="border: 0px;"><br></div>
                        </div>
                        <div style="border: 0px;">
                            <div style="border: 0px;">
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2022</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">BEng (Hons)</p>
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">Electronic and Computer Engineering University of the West of England</p>
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">(co-presented with SHAPE VTC)</p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2021</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">High Diploma in Electronic and Communications Engineering</p>
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">Hong Kong Institute of Vocational Education</p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2009</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">Bachelor of Arts (Fine Art), Major in Painting</p>
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">Royal Melbourne Institute of Technology University&nbsp;</p>
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">(co-presented with Hong Kong Art School)&nbsp;</p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2006</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">Diploma in Arts (Fine Art), Major in Painting</p>
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;">Hong Kong Art School</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section tabindex="-1" style="text-align: start;color: transparent;font-size: 10px;border: 0px;">
    <div style="border: 0px;">
        <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
        <div style="border: 0px;"><br></div>
    </div>
    <div style="border: 0px;">
        <div style="border: 0px;">
            <section style="color: transparent;border: 0px;">
                <div style="border: 0px;">
                    <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
                    <div style="border: 0px;"><br></div>
                </div>
                <div style="border: 0px;">
                    <div style="color: transparent;border: 0px;">
                        <div style="border: 0px;">
                            <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
                            <div style="border: 0px;"><br></div>
                        </div>
                        <div style="border: 0px;">
                            <div style="border: 0px;">
                                <div style="text-align: start;border: 0px;">
                                    <h2 style="color: rgb(var(--color_45));font-size: 26px;border: 0px;">Exhibition</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="color: transparent;border: 0px;">
                        <div style="border: 0px;">
                            <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
                            <div style="border: 0px;"><br></div>
                        </div>
                        <div style="border: 0px;">
                            <div style="border: 0px;">
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2023</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">The Collectable Art Fair&nbsp;<br><span style="border: 0px;"><span style="font-size: 18px;border: 0px;">Hong Kong Arts Centre, Pao Galleries</span></span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2012</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Curiouser, Joint exhibition<br><span style="border: 0px;">Hong Kong Arts Centre, White Tube</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2010</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">I AM, a painting solo exhibition by Li Chun Chung<br><span style="border: 0px;">Hong Kong Arts Centre, White Tube</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2010</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Nonstoplism, 1st Anniversary Art Exhibition,<br><span style="border: 0px;">Fringe Club, Slowear gallery</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2010</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Art Habitat,&nbsp;</span><span style="border: 0px;"><span style="font-size: 14px;border: 0px;">a brand new experience of collecting and displaying art at home</span></span><span style="border: 0px;">&nbsp;<span style="border: 0px;">2/F Hong Kong Art Cen</span></span><span style="border: 0px;"><span style="border: 0px;">tre</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2009</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">On and Beyond<br><span style="border: 0px;"><span style="font-size: 18px;border: 0px;">Hong Kong Arts Centre, Pao Galleries</span></span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2009</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Just show, Joint exhibition<br><span style="border: 0px;">M88, Central</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2008</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Artafter 6 &lsquo;Art&rsquo; Exhibition, Joint exhibition<br><span style="border: 0px;">Sense 99, Central</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2006</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Action &amp; Reaction<br><span style="border: 0px;">Hong Kong Arts Centre, Pao Galleries</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2005</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Communication, Joint exhibition<br><span style="border: 0px;">Hong Kong Arts Centre, White Tube</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2005</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Happy Together, Joint exhibition<br><span style="border: 0px;">Hong Kong Arts Centre, White Tube</span></span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2003</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Join<br><span style="border: 0px;">Lobby 1/F, East Tower, Wan Chai</span></span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section tabindex="-1" style="text-align: start;color: transparent;font-size: 10px;border: 0px;">
    <div style="border: 0px;">
        <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
        <div style="border: 0px;"><br></div>
    </div>
    <div style="border: 0px;">
        <div style="border: 0px;">
            <section style="color: transparent;border: 0px;">
                <div style="border: 0px;">
                    <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
                    <div style="border: 0px;"><br></div>
                </div>
                <div style="border: 0px;">
                    <div style="color: transparent;border: 0px;">
                        <div style="border: 0px;">
                            <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
                            <div style="border: 0px;"><br></div>
                        </div>
                        <div style="border: 0px;">
                            <div style="border: 0px;">
                                <div style="text-align: start;border: 0px;">
                                    <h2 style="color: rgb(var(--color_45));font-size: 26px;border: 0px;">Project</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="color: transparent;border: 0px;">
                        <div style="border: 0px;">
                            <div style="color: var(--bg-overlay-color);background-color: var(--bg-overlay-color);border: 0px;"><br></div>
                            <div style="border: 0px;"><br></div>
                        </div>
                        <div style="border: 0px;">
                            <div style="border: 0px;">
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2023 - 2024</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Kowloon City Youth Arts Festival&nbsp;</span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 14px;border: 0px;"><span style="font-size: 14px;border: 0px;"><span style="border: 0px;">In order to provide diversified artworks creation trainings for teenagers in Kowloon City District, the Kowloon City Youth Development Network under the Kowloon City District Office will organize the &quot;Kowloon City Youth Arts Festival 2023-2024&quot; from September 2023 to March 2024. The Festival aims to provide a platform for teenagers to showcase their talents by organizing arts exhibitions in the District.</span></span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2023 - 2024</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Somewhere Over The Lung Tsun Bridge&nbsp;</span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="color: rgb(var(--color_36));border: 0px;"><span style="border: 0px;">As an experienced art teacher, Hanseli has shared their passion and knowledge of art with students of all ages. From teaching foundational techniques to encouraging creative exploration, Hanseli has helped many aspiring artists find their voice and hone their skills.</span></span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2019</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Playful Public Design</span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 14px;border: 0px;"><span style="font-size: 14px;border: 0px;"><span style="border: 0px;">The collaborative design research project between the Public Design Lab at the Hong Kong Polytechnic University&apos;s School of Design and the Art Design Education Studio aimed to promote inclusive design.</span></span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2015 - 2017</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Gashapon</span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 14px;border: 0px;"><span style="font-size: 14px;border: 0px;"><span style="border: 0px;">The initial appearance of capsule vending machines pointed to a new (consumer) experience, adding enjoyment to the process through the concept of probability. People make a purchase with the expectation of experiencing the gap between their anticipation and the actual result.</span></span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2016</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Inclusive Playground</span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 14px;border: 0px;"><span style="font-size: 14px;border: 0px;"><span style="border: 0px;">As part of the &quot;Inclusive Playground Design&quot; held in collaboration with Creativekids and Playright Children&apos;s Play Association, a series of courses were designed for children to learn and actively participate in the design of inclusive playgrounds.&nbsp;</span></span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 16px;border: 0px;"><span style="border: 0px;">2016</span></p>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <h3 style="color: rgb(var(--color_45));font-size: 18px;border: 0px;"><span style="border: 0px;">Ednovation Festival</span></h3>
                                </div>
                                <div style="text-align: start;border: 0px;">
                                    <p style="color: rgb(var(--color_15));font-size: 14px;border: 0px;"><span style="font-size: 14px;border: 0px;"><span style="border: 0px;">To broaden children&apos;s imagination about chairs and explore different methods of constructing sturdy structures, a unique chair was designed using only cardboard paper. This project aimed to inspire children how to create functional furniture with their own hands. In November 2016, during the Ednovation Fest, personalized chair designs by children were showcased, featuring life-sized chairs made from rigid cardboard.</span></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>

